---
import type { GetStaticPaths } from "astro";
import Layout from "../layouts/Layout.astro"
import { getLanguage } from "../services/pokemon";
import { getPokemon } from '../services/pokemon';
import { getPokemonSpecie } from "../services/pokemon";
import { getPokemonList } from "../services/pokemon";

const { name } = Astro.params;

let detail;
let specie;
let language = await getLanguage({id: 9});

if(name){
    detail = await getPokemon({name});
    // Obtener el id del pokemon por la url, ya que hay algunos pokemon que toma repetidos por ejemplo los ultra, max, alola, etc.
    let id = detail?.species?.url.split("/").splice(-2,1).pop(); 
    specie = await getPokemonSpecie({id});
} 

export async function getStaticPaths() {
    // LLamada a la lista completa de pokemon
    const pokemonList = await getPokemonList();

    return pokemonList.map((item) => (
        {params: {name: item.name}}
    ));
}

const imageUrl = `/img/landscape/${detail?.types[0]?.type?.name}.webp`;
const pokemonName = detail?.name.replaceAll("-", " ");
const checkType = detail?.types[0]?.type?.name.match(/dark|fairy|fighting|ghost|ice|poison|psychic|steel|water|fire|electric/)
const nameEvolve = specie?.evolves_from_species?.name;
let genusText = "???";
let pokemonText = "???";
let evolve;
let textColor = "text-black";
if(nameEvolve) evolve = await getPokemon({name: nameEvolve}); 

// Texto donde va el peso y altura.
specie?.genera?.map((item) =>(
    item?.language?.name == language?.name ? genusText = item?.genus : genusText
));

// Texto de la descripción del pokémon.
specie?.flavor_text_entries?.map((item) =>(
    item?.language?.name == language?.name ? pokemonText = item?.flavor_text : pokemonText
));

if (checkType != null) textColor = "text-white"
---

<Layout title="pokemon">
    <main class="m-auto flex items-center justify-center h-screen">
        <div class="bg-[#FFD700] p-4 w-[40rem] sm:max-w-sm md:max-w-sm lg:max-w-sm xl:max-w-sm shadow-[4px_4px_540px_40px] shadow-amber-100 rounded-lg">
            <div class="rounded-lg relative" style={`background-image: url('${imageUrl}');  background-size: cover;`}>
                <div class="rounded-lg">
                    <div class="flex justify-between items-center px-1">
                        <div class="flex-none w-14"></div>
                        <h2 class=`font-bold uppercase text-lg ${textColor} flex-1`>{pokemonName}</h2>
                        <div class="flex-none">
                            <p class="text-red-500 font-medium text-2xl  text-end [text-shadow:_.1px_.7px_0px_#000]" >{detail?.stats[0]?.base_stat}<span></span> HP</p> 
                        </div>
                    </div>
                    {   evolve != null ?
                            <div class="mx-auto w-12 h-12 absolute border-2 border-white shadow-inner rounded-tl-3xl rounded-br-3xl rounded-bl-2xl rounded-tr-2xl top-1 left-1 bg-[#BEBEBE]">
                                <img class="object-cover object-center skew-y-6 w-full" src={evolve?.sprites?.other["official-artwork"]?.front_default} alt={evolve?.name} title={evolve?.name}>
                            </div>
                        : ""
                    }

                    <div class="mx-auto h-52 w-[19rem] relative-mt-18 border-8 shadow-[4px_4px_10px_1px] border-yellow-300 overflow-hidden flex items-center justify-center">
                        <img class="object-cover object-center w-32" src={detail.sprites.other.showdown.front_default != null ? 
                    detail?.sprites?.other?.showdown?.front_default : detail.sprites.other["official-artwork"].front_default} alt={detail?.name}>
                    </div>
                    <div class="bg-[#FFD700] w-[18rem] mx-auto mt-1 shadow-[10px_10px_50px_.2px_#FFD700] rounded-sm text-[11px] px-1 flex italic justify-center font-medium justify-evenly">
                        <p>{genusText}</p>
                        <p>height: <span>{detail?.height/10}</span> mts.</p>
                        <p>weight: <span>{detail?.weight/10}</span> kg.</p>
                    </div>
                    <br>
                    <p class=`w-[18rem] mx-auto text-justify ${textColor} font-medium leading-5`>{pokemonText}</p>
                    <br>

                    <div class="w-[18rem]">
                        <p class="text-center">types</p>
                    </div>

                    <div class="flex">
                        {
                            detail?.types.map((item) =>(
                                <img class="me-0.5" src=`/img/icons/${item.type.name}.webp` alt={item.type.name} title={item.type.name} width="25px" height="25px"> 
                            ))
                        }
                    </div>
                </div>
            </div>
        </div>
    </main>
</Layout>

<style>
    html{
        background-color: white;
        background: url("img/stadium.jpg") no-repeat center center fixed;
        background-size: cover;
    }
</style>